# We apply the Gitignore Whitelist approach here.
# Everything but a specific list of files and directories listed here gets ignored.
# 
# More on the approach: https://jasonstitt.com/gitignore-whitelisting-patterns.

# Ignore everything in the root folder:
/*

# Unignore a specific list of files in the root folder:
!/.gitignore
!/.gitmodules
!/LICENSE
!/README.md
!/CHANGELOG.md
!/index.html
!/CNAME
!/sitemap.xml
!/robots.txt

# Unignore subtrees:
!/.github/
!/src/
!/static/

# Ignore noise:
.DS_Store
